node_modules
dist
.vercel
.pnpm-store
.vscode/*.local.bak
packages/ui-kit/storybook-static
.turbo
.pnpm-store/
*.local
*.local.bak
.DS_Store
.env
.env.*
!.env.example
apps/*/.env
packages/ui-kit/storybook-static/
